In [9]:
#ADS-PHASE-3

#PROJECT TITLE-AIR QUALITY ANALYSIS AND PREDICTION

#TEAM NO-1

#---------PREPARED BY VASUDEVAN.V.P (team member)

In [10]:
#Importing necessary libraries in Python is essential because it allows you to access pre-written code and functions that can help you perform specific tasks without having to reinvent the wheel.

In [65]:
#importing necessary libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [66]:
#To load a dataset in Python using the Pandas library, you can use the read_ functions provided by Pandas. These functions can read data from various file formats and create a DataFrame, which is a tabular data structure in Pandas.

In [67]:
#loading data set
file_path = r"D:\veera\air.csv"
encoding = "ISO-8859-1"
df = pd.read_csv(file_path, encoding=encoding)
df

,Stn Code,Sampling Date,State,City/Town/Village/Area,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,38,01-02-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,11.0,17.0,55.0,NaN
1,38,01-07-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,13.0,17.0,45.0,NaN
2,38,21-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,12.0,18.0,50.0,NaN
3,38,23-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,15.0,16.0,46.0,NaN
4,38,28-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,13.0,14.0,42.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2874,773,12-03-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",15.0,18.0,102.0,NaN
2875,773,12-10-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",12.0,14.0,91.0,NaN
2876,773,17-12-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",19.0,22.0,100.0,NaN
2877,773,24-12-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",15.0,17.0,95.0,NaN
2878,773,31-12-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",14.0,16.0,94.0,NaN

In [68]:
#info()The info() function provides a concise summary of the DataFrame, including the number of non-null values, data types of each column, and memory usage.It is a quick way to understand the overall structure and data types of your DataFrame.

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Stn Code                        2879 non-null   int64
 1   Sampling Date                   2879 non-null   object
 2   State                           2879 non-null   object
 3   City/Town/Village/Area          2879 non-null   object
 4   Location of Monitoring Station  2879 non-null   object
 5   Agency                          2879 non-null   object
 6   Type of Location                2879 non-null   object
 7   SO2                             2868 non-null   float64
 8   NO2                             2866 non-null   float64
 9   RSPM/PM10                       2875 non-null   float64
 10  PM 2.5                          0 non-null      float64
dtypes: float64(4), int64(1), object(6)
memory usage: 247.5+ KB

In [70]:
df.head()

,Stn Code,Sampling Date,State,City/Town/Village/Area,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,38,01-02-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,11.0,17.0,55.0,NaN
1,38,01-07-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,13.0,17.0,45.0,NaN
2,38,21-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,12.0,18.0,50.0,NaN
3,38,23-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,15.0,16.0,46.0,NaN
4,38,28-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,13.0,14.0,42.0,NaN

In [71]:
#Error handling in Pandas involves dealing with issues that may arise when working with data in Pandas DataFrames or Series. Common errors include missing data, data type mismatches, and data manipulation issues

In [72]:
#The isnull() function in Pandas is used to detect missing or NaN (Not-a-Number) values in a DataFrame or Series. It returns a DataFrame or Series of the same shape, where each element is either True (if the original element is missing) or False (if the element is not missing). The isna() function is an alias for isnull(), and they can be used interchangeably.

In [73]:
#to display null values
df.isnull()

,Stn Code,Sampling Date,State,City/Town/Village/Area,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
2874,False,False,False,False,False,False,False,False,False,False,True
2875,False,False,False,False,False,False,False,False,False,False,True
2876,False,False,False,False,False,False,False,False,False,False,True
2877,False,False,False,False,False,False,False,False,False,False,True
2878,False,False,False,False,False,False,False,False,False,False,True

In [74]:
#The notnull() function in Pandas is the complement of the isnull() function. It is used to detect non-null values in a DataFrame or Series. notnull() returns a DataFrame or Series of the same shape as the input, where each element is True if the original element is not missing (i.e., it's not NaN), and False if the element is missing.
df.notnull()

,Stn Code,Sampling Date,State,City/Town/Village/Area,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,True,True,True,True,True,True,True,True,True,True,False
1,True,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True,False
3,True,True,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...
2874,True,True,True,True,True,True,True,True,True,True,False
2875,True,True,True,True,True,True,True,True,True,True,False
2876,True,True,True,True,True,True,True,True,True,True,False
2877,True,True,True,True,True,True,True,True,True,True,False
2878,True,True,True,True,True,True,True,True,True,True,False

In [75]:
#One-hot encoding is a technique used to convert categorical data into a binary matrix representation. In Python, you can use libraries like scikit-learn or pandas to perform one-hot encoding.
#One-hot encoding using pd.get_dummies() in pandas is a common technique in data preprocessing and is used in various machine learning and data analysis tasks.

In [76]:
# Define the categorical column(s) you want to one-hot encode
categorical_columns = ['State']

# Perform One-hot encoding using pd.get_dummies() 
df_encoded = pd.get_dummies(df, columns=categorical_columns)

# Display the one-hot encoded DataFrame
print(df_encoded)

      Stn Code Sampling Date City/Town/Village/Area  \
0           38      01-02-14                Chennai
1           38      01-07-14                Chennai
2           38      21-01-14                Chennai
3           38      23-01-14                Chennai
4           38      28-01-14                Chennai
...        ...           ...                    ...
2874       773      12-03-14                 Trichy
2875       773      12-10-14                 Trichy
2876       773      17-12-14                 Trichy
2877       773      24-12-14                 Trichy
2878       773      31-12-14                 Trichy

                        Location of Monitoring Station  \
0     Kathivakkam, Municipal Kalyana Mandapam, Chennai
1     Kathivakkam, Municipal Kalyana Mandapam, Chennai
2     Kathivakkam, Municipal Kalyana Mandapam, Chennai
3     Kathivakkam, Municipal Kalyana Mandapam, Chennai
4     Kathivakkam, Municipal Kalyana Mandapam, Chennai
...                                                ...
2874                         Central Bus Stand, Trichy
2875                         Central Bus Stand, Trichy
2876                         Central Bus Stand, Trichy
2877                         Central Bus Stand, Trichy
2878                         Central Bus Stand, Trichy

                                       Agency  \
0     Tamilnadu State Pollution Control Board
1     Tamilnadu State Pollution Control Board
2     Tamilnadu State Pollution Control Board
3     Tamilnadu State Pollution Control Board
4     Tamilnadu State Pollution Control Board
...                                       ...
2874  Tamilnadu State Pollution Control Board
2875  Tamilnadu State Pollution Control Board
2876  Tamilnadu State Pollution Control Board
2877  Tamilnadu State Pollution Control Board
2878  Tamilnadu State Pollution Control Board

                        Type of Location   SO2   NO2  RSPM/PM10  PM 2.5  \
0                        Industrial Area  11.0  17.0       55.0     NaN
1                        Industrial Area  13.0  17.0       45.0     NaN
2                        Industrial Area  12.0  18.0       50.0     NaN
3                        Industrial Area  15.0  16.0       46.0     NaN
4                        Industrial Area  13.0  14.0       42.0     NaN
...                                  ...   ...   ...        ...     ...
2874  Residential, Rural and other Areas  15.0  18.0      102.0     NaN
2875  Residential, Rural and other Areas  12.0  14.0       91.0     NaN
2876  Residential, Rural and other Areas  19.0  22.0      100.0     NaN
2877  Residential, Rural and other Areas  15.0  17.0       95.0     NaN
2878  Residential, Rural and other Areas  14.0  16.0       94.0     NaN

      State_Tamil Nadu
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
2874              True
2875              True
2876              True
2877              True
2878              True

[2879 rows x 11 columns]

In [77]:
#Scaling in the context of data analysis typically refers to the process of transforming numerical data to have a standard range or distribution. This is often done to ensure that features (columns) in your dataset have a similar scale, which can be important for various machine learning algorithms. Pandas itself doesn't have built-in scaling methods, but you can perform scaling using pandas in combination with other libraries, such as scikit-learn.

In [78]:
#scaling
scaler = StandardScaler()
df['RSPM/PM10'] = scaler.fit_transform(df['RSPM/PM10'].values.reshape(-1, 1))
df

,Stn Code,Sampling Date,State,City/Town/Village/Area,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,PM 2.5
0,38,01-02-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,11.0,17.0,-0.238950,NaN
1,38,01-07-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,13.0,17.0,-0.557794,NaN
2,38,21-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,12.0,18.0,-0.398372,NaN
3,38,23-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,15.0,16.0,-0.525910,NaN
4,38,28-01-14,Tamil Nadu,Chennai,"Kathivakkam, Municipal Kalyana Mandapam, Chennai",Tamilnadu State Pollution Control Board,Industrial Area,13.0,14.0,-0.653447,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2874,773,12-03-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",15.0,18.0,1.259617,NaN
2875,773,12-10-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",12.0,14.0,0.908889,NaN
2876,773,17-12-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",19.0,22.0,1.195848,NaN
2877,773,24-12-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",15.0,17.0,1.036426,NaN
2878,773,31-12-14,Tamil Nadu,Trichy,"Central Bus Stand, Trichy",Tamilnadu State Pollution Control Board,"Residential, Rural and other Areas",14.0,16.0,1.004542,NaN

In [79]:
#In pandas, the train_test_split function is not available directly since it's typically used in the scikit-learn library for splitting data into training and testing sets. However, you can easily split your data into training and testing sets using scikit-learn while keeping your data in pandas DataFrames.

In [80]:
#train_test split
X = df.drop('RSPM/PM10', axis=1)
y = df['RSPM/PM10']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [81]:
print("\n X_test info")
print(X_test.info())

 X_test info
<class 'pandas.core.frame.DataFrame'>
Index: 576 entries, 471 to 1921
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Stn Code                        576 non-null    int64
 1   Sampling Date                   576 non-null    object
 2   State                           576 non-null    object
 3   City/Town/Village/Area          576 non-null    object
 4   Location of Monitoring Station  576 non-null    object
 5   Agency                          576 non-null    object
 6   Type of Location                576 non-null    object
 7   SO2                             574 non-null    float64
 8   NO2                             573 non-null    float64
 9   PM 2.5                          0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 49.5+ KB
None